.App
	text-align: center 	
	h3
		font-size: 25px
		
.wrapper
	display: flex
	gap: 20px
	justify-content: center


form
	text-align: center
	display: flex
	flex-direction: column
	justify-content: center
	gap: 10px
	border: 1px solid black
	padding: 20px
	width: fit-content

ul
	list-style-type: none
	h4
		font-size: 20px
	button
		margin-right: 20px
